<html>
    <head>
        <title>Blog Jefter Targino</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Blog Jefter Targino</a></h1>
        </div>

        <div>
            <p>publicado: 02.10.2020, 01:08</p>
            <h2><a href="">Meu primeiro post</a></h2>
            <p>O poder surge em resposta a uma necessidade, não em resposta a um desejo.</p>
        </div>

        <div>
            <p>publicado: 02.10.2020, 01:12</p>
            <h2><a href="">Meu segundo post</a></h2>
            <p>Uma chance num milhão é melhor que nenhuma chance!</p>
        </div>
    </body>
</html>